<div class="container py-5">
  <div class="row mb-5">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <div class="bg-white shadow rounded p-4">
        <h1 class="display-6 xt-dark text-center">Nouveau produit</h1>
        <hr class="g-dark mb-5">
        <form [formGroup]="offerForm" (ngSubmit)="onSubmitOfferForm()">
          <input type="text" formControlName="id" hidden>

          <div class="form-group">
            <label class="h2">categorie:</label>
            <select formControlName="categorie" class="form-control">
              <option disabled>Selectionner la catégorie</option>
              <option *ngFor="let categ of categorieList">{{categ}}</option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label class="h2" for="nom">Nom : </label>
            <input type="text" id="nom" class="form-control" placeholder="Nogachis" formControlName="nom">
          </div>

          <div class="form-group mb-3">
            <label class="h2" for="lienGit">Lien du git: </label>
            <input type="text" id="lienGit" class="form-control" placeholder="lien du repos git" formControlName="lienGit">
          </div>

          <div class="form-group mb-3">
            <label class="h2" for="video">Lien vidéo: </label>
            <input type="text" id="video" class="form-control" placeholder="lien src de la video" formControlName="video">
          </div>

          <div class="form-group mb-3">
            <label class="h2" for="date">Date  : </label> lienGit
            <input type="date" id="date" class="form-control" formControlName="date" >
          </div>

          <div class="form-group mb-3">
            <label  for="description">Description du projet : </label>
            <textarea id="description" formControlName="description"rows="10" cols="55" >site ecommerce pour reduire le gachis alimentaire</textarea>
          </div>

          <div class="px-3 img-thumbnail" *ngIf="currentProduitImageUrl && currentProduitImageUrl !== ''">
            <img [src]="currentProduitImageUrl" alt="image url" class="w-100 p-2">
          </div>
          <!--gallery d'images -->
          <div class="row">
            <div class="col-8">
              <label class="h2" for="image">Image : </label>
              <input type="file" id="image" accept="image/png, image/jpeg" formControlName="image" (change)="onChangeProduitImage($event)" (change)="selectFile($event)" >
            </div>

            <div class="col-4">
              <button
                class="btn btn-success btn-sm"
                [disabled]="!selectedFiles"
                (click)="upload()"
              >
                Upload
              </button>
            </div>
          </div>

          <div *ngIf="currentFileUpload" class="progress mt-2">
            <div
              class="progress-bar progress-bar-info"
              role="progressbar"
              attr.aria-valuenow="{{ percentage }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: percentage + '%' }"
            >
              {{ percentage }}%
            </div>
          </div>



          <div class="d-flex justify-content-sm-end me-3">
            <button class="p-3 rounded bg-primary text-white">Enregistrer</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div >
      <div class="bg-white shadow p-4 rounded">
        <h1 class="display-6 text-dark">Annonces enregistrées</h1>
        <hr class="bg-dark b-5">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Nom</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
          </tr>
          </thead>
          <tbody >
          <tr  *ngFor="let produit of produits ; let id = index " >
            <td>{{id}}</td>
            <td>{{ produit.categorie}}</td>
            <td>{{ produit.nom}}</td>
            <td>{{ produit.date}}</td>
            <td class="ex1">{{ produit.description}}</td>
            <th>
              <img *ngIf="produit.image" [src]="produit.image" alt="image du produit" class="img-thumbnail">
            </th>
            <td>
              <button  class="btn btn-primary mb-3" type="button" (click)="oneditOffer(produit)" >Modifier</button>
              <button  class="btn btn-primary " type="button" (click)="onDeleteOffer(produit.id)" >Supprimer</button>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


