<div class="card entete" style=" height:300px">
  Je me présente : Elvis développeur fullstack. J'ai commencé ma reconversion en 2017.<br>
  N'ayant pas de diplôme. J'ai fait un DAEU et une validation d'un bac pro. <br>
  J'ai effectué plusieurs formations pour arriver aujourd'hui diplômé d'un master 1 en tant que développeur d'applications.<br>
  J'ai pu découvrir le java, angular Postgresql et bien plus encore.
  envie d'en savoir plus voici le lien de mon
  <a class="lienPDF" href="assets/CvMessiaenELVIS.pdf" > CV</a>
</div>

